html {
    background-color: tomato;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: white;  
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

/* ======== Home Page ======== */

.w3-bar {
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    color: white;
    background-color: cornflowerblue;
    font-size: 2em;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

.w3-bar-item:hover {
    background-color: tomato;
    cursor: pointer;
}

#login {float: right;}

a {text-decoration: none;}

#main, #regMain {
    overflow: hidden;
    align-content: center;
    border-style: solid;
    border-width: 10px 0px 10px 0px;
    border-color: white;
    background-color: cornflowerblue;
    color: white;
}

#main h3 {
    text-align: center;
    margin-top: 5em;
}

.searchBar {margin-top: 12em;}

.searchBar #zip, #search {height: 3em;}

.searchBar > input[type=text] {border: none;}


#map {
 border-style: solid; 
 border-color: skyblue;
 border-width: 10px 10px 10px 10px;
}

/* ======== Registration Page ======== */

#regContent {
    position: relative;
    top: 200px;
    width: 80%;
    max-width: 100em;
    margin: auto;
}

#regContent label {
    position: relative;
    left: -10px;
    float: left;
    width: 150px;
    text-align: right;
}

#fName, #mInitial, #lName {
    width: 20%;
    max-width: 200px;
}

#address1 {
    width: 450px;
    margin-top: 5px;
}

#address2, #address3 {
    position: relative;
    left: 150px;
    margin-top: 5px;
    width: 450px;
}

#city, #state, #zipcode {
    position: relative;
    left: 150px;
    margin-top: 5px;
    max-width: 200px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: whitesmoke;
}

/* Dropdown container */
.dropdown {
    position: relative;
    left: -6px;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Contents after dropdown */
.dropdown-content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu */
.show {display:block;} 

/* ======== Footer ======= */

.footer {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75%;
    height: 10em;
}

.footer h2 {
    font-size: 1.6em;
    grid-row-start: 2;}

.footer p {
    margin-top: auto;
    margin-bottom: 90px;
    font-size: 1.2em;
    color: white;
}

/* ======== Overlays for Login, Signup, About ======== */ 

#about{
    margin: 10% auto;
    font-size: 50px;
    color: black;
    width: 15em;
    height: 10em;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px darkgrey;
   
}

.loginContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.loginContainer label, input, button {
    grid-column: 2/4;
    margin-top: 5px;
}

.loginContainer button {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

.signupContainer {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.signupLabels {
    grid-column: 1/5;
    padding-top: 10px
}

.signupInput {
    grid-column: 1/5;
    margin-bottom: 10px;
    height: 30px;
}

.signupContainer p {
    grid-column: 1/5;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 2px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.bottomButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
    height: 4em;
    text-align: center;
    color: white;
    background-color: cornflowerblue; 
}

.bottomButtonsContainer > span {
    height: 100%;
    line-height: 4;
}

.bottomButtonsContainer > button {
    background-color: cornflowerblue;
    color: white;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.bottomButtonsContainer span:hover, button:hover {
    background-color: tomato;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid grey;
    width: 30%; 
    max-width: 500px;
}

/* Add Zoom Animation for Login and About*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}  

