html {
    background-color: tomato;
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2)
}

html input, button {
    background-color: white;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

h1, h2 {
    color: white;  
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

a {text-decoration: none;}

/* ======== Home Page ======== */

.w3-bar {
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    color: white;
    background-color: cornflowerblue;
    font-size: 2em;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

.w3-bar-item:hover {
    background-color: tomato;
    cursor: pointer;
}

#login {float: right;}

#main, .regMain {
    border-style: solid;
    border-width: 10px 0px 10px 0px;
    border-color: white;
    background-color: cornflowerblue;
    color: white;
}

#main h3 {
    text-align: center;
    margin-top: 5em;
}

.searchBar {margin-top: 12em;}

#zip {height: 3em;}

#search {height: 3.06em;}



#map {
 border-style: solid; 
 border-color: skyblue;
 border-width: 10px 10px 10px 10px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* ======== Registration Page ======== */

.regMain {
    height: 90em;
}

.regContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "regForm tos";
    position: relative;
    top: 250px;
    width: 80%;
    max-width: 2000px;
    margin: auto;
}

.regForm {
    display: grid;
    margin-left: 10%;
}

.regForm input {padding: 5px;}

.regForm form {
    grid-template-columns: 200px 200px 40px 200px 50px 10px;
    grid-template-rows: auto;
    grid-template-areas: 
        "h1 h1 h1 h1 h1 ."
        "nameLabel fname minitial lname . ."
        "addressLabel address1 address1 address1 . ."
        ". address2 address2 address2 . ."
        ". address3 address3 address3 . ."
        ". city state zipcode required ."
        "faLabel fainfo fainfo fainfo fainfo fainfo"
        "emailLabel email email email reqEmail ."
        ". submit . clearform . .";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;

}

.regForm h1 {
    margin-left: 70px;
    grid-area: h1;
    width: 100%;
    text-align: center;
}

.regLabels {
    grid-area: labels;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
}

.firearmReg {
    display: grid;
    grid-template-columns: 290px 100px 54px; 
    grid-template-rows: auto;
    grid-template-areas: 
        "faType1 quantity1 addFirearm1"
        "faType2 quantity2 addFirearm2"
        "faType3 quantity3 addFirearm3"
        "faType4 quantity4 addFirearm4";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 20px;
}

.firearmReg input {margin-top: 1px;}

.firearmReg button {
    background-color: white;
    margin-top: 1px;
    padding: 6px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.firearm2, .firearm3, .firearm4 {display: none;}

.firearmReg button:hover {background-color: whitesmoke}

.dropdown {position: relative;}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contents a {
    display: block;
    padding: 8px;
    text-align-last: center;
    background-color: white;
    color: black;
    text-decoration: none;
}

.dropdown-contents a:hover {background-color: whitesmoke}

.dropdown:hover .dropdown-contents {
    display: block;
    background-color: white;
    cursor: pointer;
}

#submit:hover, #clearform:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#submit {
    grid-area: submit;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    border: none;
    background-color: white;
}

#clearform {
    grid-area: clearform;
    margin-top: 20px;
    margin-right: 20px;
    justify-self: end;
    width: 200px;
    border: none;
    background-color: white;
}

.tosContainer {
    background-color: white;
    border-style: solid;
    border-color: tomato;
    border-width: 10px;
    width: 450px;
    height: 555px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tosContainer h1 {
    width: 50%;
    margin: auto;
    color: black;
    text-align: center;
    border-bottom: solid;
}

#ackBox {
    position: relative;
    top: 50px;
    margin: auto;
    width: 30%;
    transform: scale(2.0);
}



/* ======== Footer ======= */

.footer {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75%;
    height: 10em;
}

.footer h2 {
    font-size: 1.6em;
    grid-row-start: 2;}

.footer p {
    margin-top: auto;
    margin-bottom: 90px;
    font-size: 1.2em;
    color: white;
}

/* ======== Overlays for Login, Signup, About ======== */ 

#about{
    margin: 10% auto;
    font-size: 50px;
    color: black;
    width: 15em;
    height: 10em;
    text-align: center;
    background-color: whitesmoke;
    border-style: solid;
    border-color: tomato;
    border-width: 10px;
    box-shadow: 0px 8px 16px 0px darkgrey;
}

.loginContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}

.loginLabels, .loginInput{grid-column: 2/4;}

.loginInput {
    border-style: solid;
    border-color: #f0f3f6;
}

.loginContainer button {
    grid-column: 2/4;
    margin-bottom: 60px;
    background-color: cornflowerblue;

    color: white;
}

.signupContainer {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}

.signupLabels {
    grid-column: 2/4;
}

.signupInput {
    grid-column: 2/5;
    margin-bottom: 10px;
    height: 30px;
    border-style: solid;
    border-color: #f0f3f6;
}

.signupContainer p {
    grid-column: 1/6;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 2px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.bottomButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
    height: 4em;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: cornflowerblue; 
}

.bottomButtonsContainer > button {
    background-color: cornflowerblue;
    box-shadow: none;
    color: white;
    margin: 0px;
    cursor: pointer;
}

.bottomButtonsContainer span:hover, button:hover {
    background-color: tomato;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 10% auto;
    border: 5px solid cornflowerblue;
    width: 30%; 
    max-width: 500px;
}

/* Add Zoom Animation for Login and About*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}  
